/* Css general proyecto propuesta */

/* Variables generales */

:root {
    --Blanco: #f8f8ff;
    --Verde: #9dc066;
    --Azul: #2b5675;
    --Gris: #b1b1b0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

strong {
    color: var(--Verde);
}

/* Header */

/* Nav */

#menu {
    background: #2B5675;
    height: 58px;
    padding-right: 18px;
    border-radius: 0px;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
    text-align: right;
}

#menu li {
    display: inline-block;
    position: relative;
}

#menu a {
    display: block;
    line-height: 58px;
    padding: 0 14px;
    text-decoration: none;
    color: var(--Blanco);
    font-size: 16px;
    text-transform: capitalize;
}

#menu a.dropdown-arrow:after {
    content: "\002B";
    margin-left: 5px;
}

#menu li a:hover {
    color: #0099CC;
    background: var(--Blanco);
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 58px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 58px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    color: #FFFFFF;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }

    #menu ul {
        background: #444444;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
        text-align: left;
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked+label {
        color: #FFFFFF
    }

    #menu input:checked+label:before {
        content: "\00d7"
    }

    #menu input:checked~ul {
        display: block
    }
}

/* Row */

.flex-row {
    overflow: hidden;
    background-color: var(--Blanco);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row-item {
    width: 45%;
    margin: 10px;
    padding: 10px;
    background-color: var(--Verde);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

/* Column */

.flex-column {
    overflow: hidden;
    background-color: var(--Blanco);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-column-item {
    width: 95vw;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--Azul);
    color: var(--Blanco);
    display: flex;
    flex-flow: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

/* hero */

.hero {
    background-color: var(--Blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-direction: row;
}

.hero-items {
    margin: 10px;
    text-align: center;
    align-content: center;
}

.hero-titulo {
    color: var(--Verde);
    font-style: oblique;
    font-size: 50px;
}

.hero-logo {
    width: 250px;
    height: 250px;
}

/* Sliader */

#slider {
    overflow: hidden;
    height: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 95vw;
}

.slide img {
    height: 400px;
    width: 3000px;
}

.buttons a img {
    width: 60px;
    height: 60px;
}

.img-80 {
    width: 80px;
    height: 80px;
}

/* logos */

.cliente_logo {
    width: 200px;
    height: 160px;
    transition: 0.2s;
}

.cliente_logo:hover {
    scale: 1.5;
    z-index: 10000;
}

/* Footer */

.footer {
    background-color: var(--Azul);
    color: var(--Blanco);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    padding: 20px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--Blanco);
}

.footer div img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

/* Generales */

.h-mediano {
    height: 50vh;
}

.text-justify {
    text-align: justify;
    margin: 5px;
    width: 300PX;
}

/* Media Query */

@media only screen and (max-width: 800px) {

    /* Row */

    .flex-row-item {
        width: 90%;
    }

}